
        <div class="employee-card">
            <div class="employee-title">
                <p class="name">{{ name }}</p>
                <p class="role">{{ role }}</p>
            </div>
            <div class="employee-info">
                <ul class="info-list">
                    <li class='id'>ID: {{ id }} </li>
                    <li class='email'>Email:<a href="mailto:{{ email }}">{{ email }}</a></li>
                    <li class='GitHub'>GitHub:<a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
                </ul>
            </div>
        </div>