<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Team-Profile</title>
</head>
<body>
 
    <div class="container">
        <div class='header'>
            <h1 class="title">My Team</h1>
        </div>    
        <div class="employee-card">
            <div class='employee-title'>
                <p class="name">Natasha Wolfe</p>
                <p class="role">Manager</p>
            </div>
            <div class="employee-info">
                <p class='id'>ID: 1</p>
                <p class='email'>natasha@gmail.com</p>
                <p class='office'>Office 1</p>
            </div>
        </div>
        <div class="employee-card">
            <div class="employee-title">
                <p class="name">Natasha Wolfe</p>
                <p class="role">Engineer</p>
            </div>
            <div class="employee-info">
                <p class='id'>ID: 1</p>
                <p class='email'>natasha@gmail.com</p>
                <p class='github'>Github natashacwolfe</p>
            </div>
        </div>
        <div class="employee-card">
            <div class="employee-title">
                <p class="name">Natasha Wolfe</p>
                <p class="role">Intern</p>
            </div>
            <div class="employee-info">
                <p class='id'>ID: 1</p>
                <p class='email'>natasha@gmail.com</p>
                <p class='school'>UW coding bootcamp</p>
            </div>
        </div>

        <div class="employee-card">
            <div class="employee-title">
                <p class="name">Natasha Wolfe</p>
                <p class="role">Manager</p>
            </div>
            <div class="employee-info">
                <p class='id'>ID: 1</p>
                <p class='email'>natasha@gmail.com</p>
                <p class='office'>Office 1</p>
            </div>
        </div>
        <div class="employee-card">
            <div class="employee-title">
                <p class="name">Natasha Wolfe</p>
                <p class="role">Engineer</p>
            </div>
            <div class="employee-info">
                <p class='id'>ID: 1</p>
                <p class='email'>natasha@gmail.com</p>
                <p class='github'>Github natashacwolfe</p>
            </div>
        </div>
        <div class="employee-card">
            <div class='employee-title'>
                <p class="name">Natasha Wolfe</p>
                <p class="role">Intern</p>
            </div>
            <div class="employee-info">
                <p class='id'>ID: 1</p>
                <p class='email'>natasha@gmail.com</p>
                <p class='school'>UW coding bootcamp</p>
            </div>
        </div>
    </div>

</body>
</html>